<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container">

    <span class="mr-1 d-none d-sm-inline text-light"><%= current_user.full_name %></span>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete%>

    <div class="dropdown">
      <span class="dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          <div class="text-light" style="font-size: 25px;line-height: 0;">
            <i class="fas fa-user-circle mr-2 display-4"></i>
          </div>

        <span class="mr-1 d-none d-sm-inline text-light"><%= current_user.full_name %></span>
        <i class="fas fa-chevron-down text-primary"></i>
      </span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  </div>
</nav>